.repo.d
.DS_Store
GTAGS
.idea
hooks.pex
GPATH
GRTAGS
GSYMS
.pants.d
.pants.workdir.file_lock
.pants.workdir.file_lock.lock_message
.statsdb.sqlite
*.iml
*.ipr
*.iws
*#
.#*
*~
.pex
.classpath
.project
.settings
_build/
dist
target
.buildcache
.twkeys
dot.twkeys
*.swp
.python
htmlcov
.pydevproject
.coverage*
*.hprof
.build.properties
.pants.stats
.factorypath
codegen/classes
out
scalding/data
*.class
*.sc
.bundle
lib_managed
*.jar
*.zip
*.gz
